# Some General setting
general {
    hide_cursor     = false
}

# Wallpaper and background stuff
background {
    path            = ~/.config/sway/lock_screen/lock_bg
    blur_passes     = 1
    brightness      = 0.75
    contrast        = 1.0
}

# Input field with glow
input-field {
    size            = 320, 60
    position        = 0, -20
    halign          = center
    valign          = center

    outer_color     = rgb(d0cf8b)
    inner_color     = rgb(333333)
    font_color      = rgb(cdd6f4)

    fade_on_empty   = true
    fade_timeout    = 250

    rounding        = 1
    dots_center     = true
    dots_size       = 0.28
    dots_spacing    = 0.20

    shadow_passes   = 3
    shadow_size     = 10
    shadow_boost    = 1.6

    check_color     = rgb(a6e3a1)
    fail_color      = rgb(f38ba8)
}

# Animated text clock
label {
    text            = $TIME
    color           = rgb(cdd6f4)
    font_family     = "SourceCodePro"
    position        = 0, 240
    font_size       = 96
    halign          = center
    valign          = center

    shadow_passes   = 2
    shadow_size     = 8
    shadow_color    = rgba(000000aa)
}

# Date
label {
    text            = cmd[update:1000] date '+%A • %B %d • %Y'
    color           = rgb(a6e3a1)
    font_family     = "SourceCodePro"
    position        = 0, 140
    font_size       = 22
    halign          = center
    valign          = center
}

# vim:filetype=hyprlang

